.container {
  background: transparent;
  padding: 0.5rem;
  text-indent: 0.4375rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.container label {
  margin: 0px;
  font-size: 1.125rem;
}

.container + div {
  margin-top: 8px;
}

.customInput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  margin: 0px;
}

.customInput + div {
  margin-top: 8px;
}

.customInput p {
  margin-left: 12px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--invalid);
  font-size: 0.625rem;
}

.customInput input {
  background: var(--background);
  border-radius: 4px;
  border: 1px solid var(--primary);
  color: var(--text);
  outline-width: 0;
  fill-opacity: 0;
  flex: 1;
  text-indent: 3px;
  padding: 2px 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5625rem;
  align-items: center;
}

.customInput input:valid {
  border: 1px solid var(--valid);
  background: transparent;
}

.customInput input:invalid {
  border: 1px solid var(--invalid);
  background: transparent;
}
